<div class="modal-backdrop" id="modal-preview">
  <div class="modal" style="max-width:760px;">
    <div class="modal-header">
      <div><div class="modal-title" id="prev-title">File</div><div class="modal-sub" id="prev-sub"></div></div>
      <button class="modal-close" onclick="closeModal('modal-preview')">&times;</button>
    </div>
    <div class="modal-body">
      <div class="preview-body" id="prev-body"></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline" onclick="closeModal('modal-preview')">Close</button>
      <button class="btn btn-gold" id="prev-download-btn" onclick="downloadPreviewFile()"><i class="fas fa-download"></i> Download</button>
    </div>
  </div>
</div
